.normal-type {
    background-color: #a8a77a
}

.fire-type {
    background-color: #ee8130
}

.water-type {
    background-color: #6390f0
}

.electric-type {
    background-color: #f7d02c
}

.grass-type {
    background-color: #7ac74c
}

.ice-type {
    background-color: #96d9d6
}

.fighting-type {
    background-color: #c22e28
}

.poison-type {
    background-color: #a33ea1
}

.ground-type {
    background-color: #e2bf65
}

.flying-type {
    background-color: #a98ff3
}

.psychic-type {
    background-color: #f95587
}

.bug-type {
    background-color: #a6b91a
}

.rock-type {
    background-color: #b6a136
}

.ghost-type {
    background-color: #735797
}

.dragon-type {
    background-color: #6f35fc
}

.dark-type {
    background-color: #705746
}

.steel-type {
    background-color: #b7b7ce
}

.fairy-type {
    background-color: #d685ad
}